<!-- Button trigger modal <--></-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Book Your Retreat</h5>
      </div>
      <div class="modal-body">
        <form action="/venues/<%= @venue.id %>/bookings" method= "post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <div class="guests">
            <label for="guests">NUMBER OF GUESTS</label><br/><br/>
            <button class="counter-btn" type="button" id="cnt-down">-</button>
            <input type="text" id="guestNo" name="booking[guest]" value="2"/>
            <button class="counter-btn" type="button" id="cnt-up">+</button>
          </div>
          <div class="dates">
            <div class="arrival">
              <label for="arrival">ARRIVAL</label><br/>
              <input name="booking[start_date]" type="date"  placeholder="10/03/2018"/>
            </div>
            <div class="departure">
              <label for="arrival">DEPARTURE</label><br/>
              <input name="booking[end_date]" type="date"  placeholder="05/11/2018"/>
            </div>
          </div>

        <button type="submit" class="btn-book btn-primary">Book Now</button>

        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
