<!-- Modal -->
<div class="modal fade" id="bookingmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Booking</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="date-picker-section" class="container">
          <div id="date-picker-container">

            <div id="date-picker-title">
              <h4> Select your dates </h4>
            </div>

            <p> Click on a date to open the date picker. </p>

            <div id="date-picker-dates">
              <div id="date-picker-date-first" class="date-picker-date">
                24/12/2017
              </div>
              <div class="date-picker-date">
                28/12/2017
              </div>
            </div>

            <p> Revel in how big the dates are now. </p>

            <div id="date-picker-display-container">
              <div class="date-picker-display-pair">
                <div class="date-picker-display">
                  24 Dec
                </div>
                <div class="date-picker-display-label">
                  Date one
                </div>
              </div>
              <div class="date-picker-display-pair">
                <div class="date-picker-display">
                  28 Dec
                </div>
                <div class="date-picker-display-label">
                  Date two
                </div>
              </div>
            </div>

            <div id="date-picker-modal">
              <div id="date-picker-top-bar">
                <div id="date-picker-previous-month" class="date-picker-change-month">&lsaquo;</div>
                <div id="date-picker-month">December 17</div>
                <div id="date-picker-next-month" class="date-picker-change-month">&rsaquo;</div>
              </div>
              <div id="date-picker-exit">&times;</div>
              <table id="date-picker">
                <tr id="date-picker-weekdays">
                  <th>S</th>
                  <th>M</th>
                  <th>T</th>
                  <th>W</th>
                  <th>T</th>
                  <th>F</th>
                  <th>S</th>
                </tr>
                <!-- Actual calendar rows added dynamically -->
                <!--<tr class="date-picker-calendar-row"></tr>-->
              </table>
            </div>

          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Book!</button>
      </div>
    </div>
  </div>
</div>
<style>
$('#sandbox-container .input-daterange').datepicker({
  todayHighlight: true;
  });
</style>










<!--
 <div class="input-daterange input-group" id="datepicker">
        <input type="text" class="input-sm form-control" name="start" />
        <span class="input-group-addon">to</span>
        <input type="text" class="input-sm form-control" name="end" />
      </div> -->
