<html>
  <head>
    <meta charset="utf-8">
    <title>Find a retreat</title>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  </head>
  <body>

    <!-- Copy/paste your banner here -->
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('assets/background.jpg');">
      <div class="banner-content">
        <h1>Find a retreat,</h1>
        <h2>Be in silence for a few days.</h1>
        <p></p>
        <a href="#trip" class="btn-yours">Chuuuut</a>
      </div>
    </div>

  </body>
</html>
