<%= render 'search_form' %>
<div class="container">
  <h1 class="text-center" id="venue">Venues</h1>
  <div class="cards">
    <div class="row">
      <% @venues.each do |venue| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('#')">
          <div class="card-category">Popular</div>
          <div class="card-description">
          <h3>#</h3>
          </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
