<%= render 'search_form' %>
<div class="container">
  <h1 class="text-center" id="venue">Venues</h1>
  <div class="cards">
    <div class="row">
      <% @venues.each do |venue| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <%= image_tag("zen.png", style:"height: 250px; width: 250px; text-center") %>
          <div class="card-category"><%= venue.category.name %></div>
          <div class="card-description">
          <h3><%= venue.name %></h3>
          </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
