.venue-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 225px;
    height: 305px;
    margin: 20px auto;
    border-radius: 5px;
    background: #fafafa;
    box-shadow: 3px 3px 10px #c8c8c8;
    transition: box-shadow 0.3s ease;
  }

.card {
  height: 375px;
  width: 300px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-position: center;
  background-color: white;
  color: white;
  position: relative;

}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 30px;
  left: 160px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 20px;
  left: 100px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.card img {
  position: absolute;
  align-self: center;
  margin: 25px 25px;
  border-style: solid;
  border-color: black;
  border-width: 5px;

}
