.venue-show-description {
  margin: 40px;
  text-align: justify;
  color: #696969;
;}

.venue-show-footer {
  margin: 40px;
  margin-top: 80px;
  text-align: center;
  color: #696969;

}

.venue-contact-details {
  color: #4a9da5;
}

h1 {
  padding-bottom: 20px;
}


.row-intro {
  position: relative;
}
